*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
gradle/wrapper/gradle-wrapper.properties
app/src/main/res/values/colors.xml
app/src/main/res/values/strings.xml
app/src/main/res/values/styles.xml
app/src/test/java/com/jay/patterns/ExampleUnitTest.kt
gradle/wrapper/gradle-wrapper.jar
app/src/main/res/mipmap-hdpi/ic_launcher_round.png
app/src/main/res/mipmap-mdpi/ic_launcher.png
app/src/main/res/mipmap-mdpi/ic_launcher_round.png
app/src/main/res/mipmap-xhdpi/ic_launcher.png
app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
app/src/main/res/mipmap-xxhdpi/ic_launcher.png
app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
app/src/main/res/drawable/ic_launcher_background.xml
app/src/main/res/drawable-v24/ic_launcher_foreground.xml
app/src/main/res/layout/activity_main.xml
app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
app/src/main/res/mipmap-hdpi/ic_launcher.png
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
app/.gitignore
app/build.gradle
app/proguard-rules.pro
app/src/androidTest/java/com/jay/patterns/ExampleInstrumentedTest.kt
app/src/main/AndroidManifest.xml
gradle.properties
gradlew
gradlew.bat
settings.gradle
.idea/.name
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/runConfigurations.xml
build.gradle
app/src/main/res/drawable/ic_menu_camera.xml
app/src/main/res/drawable/ic_menu_gallery.xml
app/src/main/res/drawable/ic_menu_slideshow.xml
app/src/main/res/drawable/side_nav_bar.xml
app/src/main/res/menu/navigation_menu.xml
app/src/main/res/values/array.xml
app/src/main/res/values/dimens.xml
